body {
  margin: 0;
}

.navbar {
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 2rem;
}

.navbar .navbar-logo {
  width: 2.9rem;
  height: 2.9rem;
  margin-right: 1.5rem;
  border-radius: 25%;
}

.navbar .project-name {
  font-size: 4rem;
}

#tweet-input-box {
  resize: none;
  margin: 0;
  height: 13rem;
  font: inherit;
}

.tweet-message-info {
  margin-bottom: 1.5rem;
  text-align: right;
}

#tweet-message-count {
  line-height: 1;
  text-align: right;
}

#tweet-list-Container {
  list-style-type: none;
}

#tweet-list-Container-list-container li {
  background-color: #EEEEEE;
  padding: 1rem;
}

#tweet-submit:disabled {
  cursor: default;
  opacity: 0.25;
}

#tweet-list-container .yak-message {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#tweet-list-container time {
  display: block;
  text-align: right;
  color: #AAAAAA;
  line-height: 1;
}
